<div class="icon-callout">
  <div class="icon-callout__inner">
    <div class="icon-callout__icon">
      <span class="{{ icon }}"></span>
    </div>
    <div class="icon-callout__content">
      <div class="icon-callout__teaser">{{ teaser }}</div>
    </div>
  </div>
</div>