# Ignore paths that contain user-generated content.
docroot/files
docroot/sites/*/files
docroot/sites/*/private
/node_modules
node_modules/.cache
node_modules

.DS_Store
.cache-loader

.env
# Ignore sensitive information
/docroot/sites/*/settings.local.php

# Databases
*.sql
*.sql.gz

