# Ignore paths that contain user-generated content.
docroot/files
docroot/sites/*/files
docroot/sites/*/private
.env
# Ignore sensitive information
/docroot/sites/*/settings.local.php

# Databases
*.sql
*.sql.gz
