// @file
// Styles for media callout.

.media-callout,
.media-callout--row {
  margin-bottom: $spacer-7;
  position: relative;
}

.media-callout__grid {
  display: flex;
  flex-direction: column;

  @media (min-width: $width-md) {
    flex-direction: row;

    > * {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

.media-callout__media {
  margin-bottom: $spacer-1;

  @media (min-width: $width-md) {
    margin-bottom: 0;
  }
}

.media-callout__content {
  @media (min-width: $width-md) {
    padding: 0 $spacer-2;
  }
}

// Variants
.media-callout--column {

  .media-callout__grid {
    display: flex;
    flex-direction: column;

    > * {
      max-width: 100%;
      padding: 0;
      width: 100%;
    }
  }
}
