// @file
// Styles for media teaser.

.media-teaser {
  margin-bottom: $spacer-5;
  position: relative;
}

.media-teaser__grid {
  display: flex;
  flex-direction: column;

  @media (min-width: $width-md) {
    flex-direction: row;
  }
}

.media-teaser__image {
  @media (min-width: $width-md) {
    flex: 0 0 40%;
    max-width: 40%;
  }
}

.media-teaser__content {
  @media (min-width: $width-md) {
    flex: 0 0 58%;
    max-width: 58%;
    padding: 0 2%;
  }
}