<section class="media-teaser">
  <div class="media-teaser__grid">
    <div class="media-teaser__image">
      {{ image }}
    </div>
    <div class="media-teaser__content">
      <h2>{{ heading }}</h2>
      {{ teaser }}
    </div>
  </div>
</section>