{% set constrain_classes = [
  'ds-l-container',
  constrain_modifier_classes ? constrain_modifier_classes,
]|join(' ')|trim %}

<header class="l-header" role="banner">
  {% if has_constrain %}
    <div class="{{ constrain_classes }}">
  {% endif %}
    <div class="l-header__inner">
      <div class="l-header__branding">
        {% block branding %}
          Branding content
        {% endblock %}
      </div>

      <div class="l-header__menu">
        {% block menu %}
          Menu content
        {% endblock %}
      </div>
    </div>
  {% if has_constrain %}
    </div>
  {% endif %}
</header>
